
.circle {
    fill: #2c4175;
    stroke: #ffffff;
}

.circle-focus {
    fill: indianred;
    stroke: #131b24;
}

.circle-info {
    background: #436067;
    position: absolute;
    visibility: hidden;
    z-index: 10;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
